<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('User')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-user" class="form-control" name="row[user]" type="text" value="{$row.user}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Pass')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-pass" class="form-control" name="row[pass]" type="text" value="{$row.pass}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" value="{$row.name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Wx')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-wx" class="form-control" name="row[wx]" type="text" value="{$row.wx}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Yhkh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-yhkh" class="form-control" name="row[yhkh]" type="text" value="{$row.yhkh}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Khh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-khh" class="form-control" name="row[khh]" type="text" value="{$row.khh}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zfy')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zfy" class="form-control" name="row[zfy]" type="text" value="{$row.zfy}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Zfbname')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-zfbname" class="form-control" name="row[zfbname]" type="text" value="{$row.zfbname}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sex')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-sex" class="form-control selectpicker" name="row[sex]">
                {foreach name="sexList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.sex"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
