<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Sn')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-sn" class="form-control" name="row[sn]" type="text"  readonly value="保存后自动生成">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Author')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-author" class="form-control" name="row[author]" type="text" value="{$admin.nickname}">
        </div>
    </div>
    <div class="form-group">
        <label for="c-type" class="control-label col-xs-12 col-sm-2">{:__('Type')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-type" data-rule="required" class="form-control selectpicker" name="row[type]" value=""  disabled="disabled" >
                {foreach name="rutypeList" key="k" item="v"}
                    <option value="{$k}"   {in name="$v" value="仓库调拨"}selected{/in}>{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-storage" class="control-label col-xs-12 col-sm-2">调出仓库:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-storage" data-rule="required" class="form-control selectpicker" name="row[storage]" value="" >
                <option value="" >请选择</option>
                {foreach name="storageList" key="k" item="v"}
                    <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="c-storageru" class="control-label col-xs-12 col-sm-2">调入仓库:</label>
        <div class="col-xs-12 col-sm-8">
            <select id="c-storageru" data-rule="required" class="form-control selectpicker" name="row[storageru]" value="" >
                <option value="" >请选择</option>
                {foreach name="storageList" key="k" item="v"}
                    <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover dataTable no-footer" align="center" style="width: 66%;">
        <thead>
            <tr role="row">
                <th></th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    产品名称
                </th>
                <th class="sorting_disabled" rowspan="1" colspan="1">
                    调库数量
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr role="row" class="odd order-list">
                <td>
                <a href="javascript:void(0);" class="btn btn-success btn-add" title="增加" onclick="add_list(this)" style="position: relative; z-index: 1;">增加</a>
                </td>
                <td> 
                    <select name="goods[]" class="form-control">
                        {volist name='stockList' id='vo'}
                        <option value="{$vo.id}_{$vo.name}">{$vo.name}</option>
                        {/volist}
                    </select> 
                </td>
                <td><input type="text" class="form-control" value="" name="num[]"></td>
                <td>
                <a href="javascript:void(0)" class="btn btn-sm btn-danger btn-remove" title="删除" onclick="del_list(this)">删除</a>
                </td>
            </tr>

        </tbody>
    </table>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Desc')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-desc" class="form-control " rows="5" name="row[desc]" cols="50"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Add_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-add_time" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[add_time]" type="text" value="{:date('Y-m-d H:i:s')}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-tiao disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<script>
function add_list(obj){
    $(obj).parent().parent().clone().appendTo( $(obj).parent().parent().parent() );
}
function del_list(obj){
    $(obj).parent().parent().remove();
}
</script>
